<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Strangeloop" packages="">
    <Appenders>
        <File name="ServerLogFile" fileName="logs/server.log">
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="ServerLogFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>